<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1><%= "#{@user.name}'s History" %></h1>
    </div>

    <% if @players.empty? %>
      <p>No history to display.</p>
    <% else %>

      <table class="table">
        <tr>
          <th></th>
          <th>Win Rate</th>
          <th>Average Round Out</th>
          <th>Average Percent of Total Chips when going out</th>
        </tr>
        <tr>
          <td></td>
          <td><%= @stats.win_perc.round(0) %>%</td>
          <td><%= @stats.round_out_average.round(2) %></td>
          <td><%= @stats.chips_out_perc.round(2) %>%</td>
        </tr>
      </table>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Game Name</th>
            <th>Game Winner</th>
            <th>Player Standing</th>
            <th>Percent of Total Chips Small Blind is when going out</th>
          </tr>
        </thead>
        <tbody>

          <% @players.each do |player| %>
            <tr>
              <td><%= link_to player.game.name, game_path(player.game), class: "btn btn-default" %></td>
              <td><%= player.game.winner.owner.name %></td>
              <% player_stats = @stats.player_stats(player) %>
              <% if player_stats[:winner] == true %>
                <td>Winner</td>
                <td></td>
              <% else %>
                <td><%= "Went out on round #{player_stats[:round_out]+1}" %></td>
                <td><%= "#{player_stats[:chips_perc].round(2)}%" %></td>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>

    <% end %>

  </div>
</div>
