<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1><%= "#{@user.name}'s History" %></h1>
    </div>

    <% if @won.length == 0 && @went_out.length == 0 %>
      <p>No history to display.</p>
    <% else %>

      <table class="table">
        <tr>
          <th></th>
          <th>Win Rate</th>
          <th>Average Round Out</th>
          <th>Average Percent of Total Chips</th>
        </tr>
        <tr>
          <td></td>
          <td><%= ((@won.length/(@won.length+@went_out.length).to_f)*100).round(0) %>%</td>
          <td><%= @round_aver.round(2) %></td>
          <td><%= @chips_perc.round(2) %>%</td>
        </tr>
      </table>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Game Name</th>
            <th>Game Winner</th>
            <th>Player Standing</th>
            <th>Percent of Total Chips Small Blind is when going out</th>
          </tr>
        </thead>
        <tbody>
          <% @won.each do |game| %>
            <tr>
              <td><%= link_to game.name, game_path(game), class: "btn btn-default" %></td>
              <td><%= @user.name %></td>
              <td>Winner</td>
              <td></td>
            </tr>
          <% end %>

          <% @went_out.each do |game| %>
            <tr>
              <td><%= link_to game.name, game_path(game), class: "btn btn-default" %></td>
              <td><%= game.winner.name %></td>
              <td><%= "Went out on round #{game.player_out_round(@user)+1}" %></td>
              <td><%= "#{((game.blinds[game.player_out_round(@user)]/game.total_chips.to_f)*100).round(2)}%" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
