<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1><%= "#{@user.name}'s History" %></h1>
    </div>

    <table class="table">
      <tr>
        <th>Game Name</th>
        <th>Game Winner</th>
        <th>Player Standing</th>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <th><%= link_to game.name, game_path(game), class: "btn btn-default" %></th>

          <% if game.winner_type == "user" %>
            <td><%= game.users.find(game.winner).name %></td>
            <% if game.winner.to_i == @user.id %>
              <td>Winner</td>
            <% else %>
              <td><%= "Went out on round #{game.users_out[@user.id.to_s].to_i+1}" %></td>
            <% end %>
          <% else %>
            <td><%= game.guests.find(game.winner).name %></td>
            <td><%= "Went out on round #{game.users_out[@user.id.to_s].to_i+1}" %></td>
          <% end %>

        </tr>
      <% end %>
    </table>

  </div>
</div>
