<div class="container">
  <div class="page-header span5 offset2">
    <h1>Order Pizza</h1>
    <%= link_to "Create a new Saved Order", new_saved_order_path, class: "btn btn-primary" %>
  </div>
  <% current_user.saved_orders.each do |saved_order| %>
    <%= link_to saved_order.name, pizza_path(saved_order_id: saved_order.id), class: "btn btn-primary", method: "post" %>
    <%= link_to "Edit order", edit_saved_order_path(id: saved_order.id), class: "btn btn-default" %>
    <%= link_to "Delete order", saved_order_path(id: saved_order.id), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" } %>
    <pre><%= saved_order.order.to_yaml %></pre>
  <% end %>
</div>
