<div class="container">
  <div class="page-header span5 offset2">
    <h1>Edit game</h1>
  </div>
  <%= form_for(@game, html: {class: "form-horizontal center"}) do |f| %>
    <% if @game.errors.any? %>
      <ul>
        <p>The game could not be updated for the following reasons:</p>
        <% @game.errors.each do |field, error| %>
          <li><%= field %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="form-group">
      <%= f.label :round_length, "Round length (minutes)", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :round_length, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Update game", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
