<div class="container">
  <div class="span5 offset2">
    <div class="page-header">
      <h1>All Games</h1>
    </div>
    <table class="table">
      <tr>
        <th>Game name</th>
        <th>Players</th>
        <th>Chips (per player)</th>
        <th>Length of game (hours)</th>
        <th></th>
      </tr>
      <% @games.each do |game| %>
        <tr>
          <td><%= link_to game.name, game_path(game), class: "btn btn-default" %></td>
          <td><%= game.players %></td>
          <td><%= game.chips %></td>
          <td><%= game.game_length %></td>
          <td>
            <%= link_to "Delete Game", game_path(game), class: "btn btn-danger", method: :delete %>
            <%= link_to "Edit Game Settings", edit_game_path(game), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
