<div class="page-header">
  <h1>Start a new game</h1>
</div>

<div class="container">
  <%= form_for(@game, html: {class: "form-horizontal center"}) do |f| %>
    <% if @game.errors.any? %>
      <ul>
        <p>The game could not be created for the following reasons:</p>
        <% @game.errors.each do |field, error| %>
          <li><%= field %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="form-group">
      <%= f.label :players, "Number of players", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :players, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :chips, "Chips per player", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :chips, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :game_length, "Game length (hours)", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :game_length, class: "form-control", step: 0.05 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :round_length, "Round length (minutes)", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :round_length, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :smallest_denomination, "Smallest Denomination", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :smallest_denomination, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :first_small_blind, "First Small Blind", class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.number_field :first_small_blind, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit "Create game", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
