<h1><%= @game.name %></h1>

<div class="container">
  <div class="span-md-5 offset-md-2">
    <p><%= "A game with #{@game.players} players, starting with #{@game.chips} chips each." %></p>
    <% if @game.status == "active" %>
      <p>
      <%= "This game is currently active on round #{@game.round+1}." %>
      <%= link_to "Suspend Game", game_path(@game, :game => {status: "suspended"}), method: :patch %>
      </p>
    <% else %>
      <p>
      <%= "This game is currently #{@game.status}." %>
      <% if @game.status == "inactive" || "suspended" %>
        <%= link_to "Start Game", game_path(@game, :game => {status: "active"}), method: :patch %>
      <% end %>
      </p>
    <% end %>
    <p id="timer"></p>
    <%= javascript_tag "updateTimer(#{@game.round_length*60})" %>
    <%= link_to "Start Timer", game_path(@game, :game => {round_start: DateTime.now}), method: :patch %>

  </div>
</div>

<div class="container">
  <div class="span5 offset2">
    <table class="table table-bordered">
      <tr>
        <th>Round Number</th>
        <th>Small Blind</th>
        <th>Big Blind</th>
        <th>Time</th>
      </tr>
      <% @game.blinds.each_with_index do |blind, i| %>
        <% if @game.round == i %>
          <tr class="info">
          <% else %>
            <tr>
            <% end %>
            <td><%= link_to i+1, game_path(@game, :game => {round: i}), method: :patch %></td>
            <td><%= blind %></td>
            <td><%= blind*2 %></td>
            <td><%= (i+1)*@game.round_length %></td>
            </tr>
          <% end %>
    </table>
  </div>
</div>
