<div class="container">
  <div class="row">

    <audio id="clickAudio"><source src=<%= asset_path('click.ogg') %> type="audio/ogg" ></audio>
    <audio id="marimbaAudio"><source src=<%= asset_path('marimba.ogg') %> type="audio/ogg" ></audio>

    <div class="col-md-6 offset-md-1">
      <div class="row" id="title-row">
        <div class="col-xs-6">
          <h1><%= @game.name %></h1>
        </div>
        <div class="col-xs-6">
          <h1>Round <%= @game.round+1 %></h1>
        </div>
      </div>

      <% unless @game.winner %>
        <div class="row button-row">
          <div class="col-xs-6">
            <%= link_to "Start Timer", game_path(@game), remote: true, data: {type: "json"}, class: "btn btn-primary", id: "startTimer" %>
            <%= link_to "Next Round", game_path(@game, :game => {round: @game.round+1}), method: :patch, class: "btn btn-primary" unless @game.round+1 == @game.blinds.length %>
          </div>
          <div class="dropdown col-xs-3">
            <button class="btn btn-primary" type="button" id="roundSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Go to round <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="roundSelect">
              <% @blinds.each_with_index do |blinds, i| %>
                <li><%= link_to "Round #{i+1} [#{blinds[0]} - #{blinds[1]}]", game_path(@game, :game => {round: i}), method: :patch %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="row">
        <table class="table table-hover">
          <tr>
            <h3>Players</h3>
          </tr>

          <% @players.each do |player| %>
            <tr>
              <td><%= player.name %></td>

              <% if player.class == User %>
                <% players_out = @game.users_out %>
                <td>
                  <% if players_out.keys.include?(player.id.to_s) %>
                    <%= "Out on round #{players_out[player.id.to_s].to_i + 1}" %>
                  <% elsif @game.winner_type == "user" && @game.winner == player.id.to_s %>
                    Winner
                  <% else %>
                    <%= link_to "Set player out", game_path(@game, :game => {:users_out => {player.id => @game.round}}), method: :patch, class: "btn btn-primary setPlayer"%>
                  <% end %>
                </td>
              <% elsif player.class == Guest %>
                <% players_out = @game.guests_out %>
                <td>
                  <% if players_out.keys.include?(player.id.to_s) %>
                    <%= "Out on round #{players_out[player.id.to_s].to_i + 1}" %>
                  <% elsif @game.winner_type == "guest" && @game.winner == player.id.to_s %>
                    Winner
                  <% else %>
                    <%= link_to "Set player out", game_path(@game, :game => {:guests_out => {player.id => @game.round}}), method: :patch, class: "btn btn-primary setPlayer"%>
                  <% end %>
                </td>
              <% end %>

            </tr>
          <% end %>

        </table>
      </div>
    </div>

    <div class="col-md-3">
      <div class="timer-container">
        <h1 id="timer">
          <% if @game.winner %>
            Game Over
          <% else %>
            <%= "#{@game.round_length}:00" %>
          <% end %>
        </h1>
      </div>
      <% if @game.winner %>
        <h3>Blind Structure</h3>
        <table class="table table-hover">
          <tr>
            <th>Round</th>
            <th>Small</th>
            <th>Big</th>
          </tr>
        <% @blinds.take(@game.round+2).each_with_index do |blinds, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= blinds[0] %></td>
            <td><%= blinds[1] %></td>
          </tr>
        <% end %>
      <% else %>
        <div class="row">
          <div class="col-xs-6">
            <h2 class="blind">Small</h2>
            <h3 class="blind"><%= @current_blinds[0] %></h3>
          </div>
          <div class="col-xs-6">
            <h2 class="blind">Big</h2>
            <h3 class="blind"><%= @current_blinds[1] %></h3>
          </div>
        </div>
        <% upcoming_blinds = @blinds.select {|blind| blind[0] > @current_blinds[0]}.take(4) %>
        <% unless upcoming_blinds.empty? %>
          <table class="table table-hover">
            <tr>
              <h3>Upcoming Blinds</h3>
            </tr>
            <% upcoming_blinds.each do |small, big| %>
              <tr>
                <td><%= small %></td>
                <td><%= big %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
